.full-home {
    display: grid;
    grid-template-columns: 6fr 1fr;
}


.plant-img {
    margin-top: 5px;
    width: 600px;
    height: 300px;
    margin-right: 50px;
}

.head-1 {
    font-size: 3rem;
    text-align: center;
    color: #1e813f;
}

.paragraph {
    margin: 0px 70px;
    font-weight: 200;
    font-size: 1.5rem;
    color: #154725;

}

.btn {
    margin-left: 50em;
    border: 5px solid #43B97F;
    font-size: 1em;
    fill: #1e813f;
    border-radius: 20px;
    padding: 0em 2em;



}

.Creview {
    text-align: center;
    color: #43b97f;
    font-size: 40px;
    font-weight: 600;

}

.load-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}